*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
body{
background-color: azure;
}
header{
    min-height: 15vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap:  wrap;
    /* align-items: start; */
}

main{
    min-height: 65vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
footer{
    min-height: 10vh;
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;

}
img{
    width: 100%;
    
}
.caja-menu{
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
nav>a{
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border: 2px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
}
nav a:hover{
    background-color: aquamarine;
    color: blueviolet;
}
.caja-logo{
    display: flex;
    width: 11rem;
    justify-content: flex-end;
}
.titulo-principal{
    display: flex;
    justify-content: flex-start;
    font-family: encode-sans;
    cursor: pointer;
    margin-left: 1rem;
}
.img-plane{
    display: flex;
    justify-content: center;
}
.img-plane img{
    height: 18rem;
}
.texto-home{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}
.texto-home img{
    width: 30rem;
}
.texto-home p{
    align-self: center;
    width: 25rem;
}
.main-aboutus{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.main-aboutus h2{
    text-align: center;
    margin-bottom: 2rem;
}
.window{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.window img{
    height: 25rem;
    width: 30rem;
    padding: 1rem;
}
.window p{
    width: 10rem;
}
.image{
    display: flex;
    align-items: center;
    flex-wrap: wrap
}
.image img{
    height: 25rem;
    width: 30rem;
    padding: 1rem;
}
.image p{
    width: 10rem;
}
.picture{
    display: flex;
    align-items: center;
    flex-wrap: wrap
}
.picture img{
    height: 25rem;
    width: 30rem;
    padding: 1rem;
}
.picture p{
    width: 10rem;
}
.main-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-contact h2{
    text-align: center;
}
.main-contact img{
    width: 40rem;
    margin: 1rem;
}
.h2information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    min-height: 50rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 6rem;
    width: 7rem;
    text-align: center;
}

.h2benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cajabenefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.cajabenefits img{
    height: 20rem;
    width: 25rem;
}
.lista1{
    display: flex;
    margin: 1rem;
    align-items: center;
    flex-direction: row;
}
.lista2{
    display: flex;
    margin: 1rem;
    align-items: center;
    flex-direction: row;
}
ol{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    width: 15rem;
}
.mainraffle{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.h2raffle{
    display: flex;
    justify-content: center;
}
form{
    width: 25rem;
}
.personal-date{
display: flex;
flex-direction: column;
}
.select{
display: flex;
flex-direction: column;
}
.date{
display: flex;
flex-direction: column;
}
.radio{
display: flex;
flex-direction: column;
}
.end{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.send{
    margin-left: 1rem;
    border: radius 1%;
}
footer a{
    text-decoration: none;
}
.footer-home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footerabout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footercontact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}
footer p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerinformation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footerbenefits{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imagenlista{
    list-style-type: none;
}
@media only screen  and (max-width:767px) {
    nav a{
        float:left;
        display: flex;
        flex-direction: column;
        width: 10rem;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 9px;
    }
    .caja-logo{
        width: auto;
    }
    .titulo-principal{
        display: flex;
        justify-content: flex-start;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
        margin: 1rem;
        font-size: 15px;
    }
    .h2raffle{
        font-size: 11px;
        width: 15rem;
        margin: 1rem;
    }
    .cajabenefits img{
        width: 90%;
        height: 95%;
    }
    .lista1{
        display: flex;
        flex-direction: column;
    }
    .lista2{
        display: flex;
        flex-direction: column;
    }
    .main-contact img{
        width: 95%;
        height: 10rem;
    }
    .main-contact h2{
        font-size: 25px;
        margin-left: 1rem;
    }
    .main-contact p{
        width: 13rem;
    }
    .footercontact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .main-aboutus h2{
        font-size: 20px;
        text-align: center;
    }
    .main-aboutus img{
        width: 15rem;
        height: 15rem;
    }
    .main-aboutus p{
        font-size: 14px;
        width: 10rem;
        text-align: center;
        margin-left: 2rem;
    }
    .footerabout{
        font-size: 10px;
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;
    }
    .img-plane img{
        width: 98%;
        height: 10rem;
    }
    .texto-home{
        display: flex;
        flex-direction: column;
    }
    .texto-home p{
        width: 16rem;
        margin: 1rem;
    }
    .texto-home img{
        width: 16rem;
        height: 13rem;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px){
    nav a{
        width: 15rem;
    }
    .titulo-principal{
        margin-top: 1rem;
    }
    .mainraffle>form{
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        width: 12rem;
    }
    .footerraffle{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .h2benefits{
        margin: 1rem;
    }
    .lista2{
        display: flex;
        flex-direction: row-reverse;
    }
    footer p{
        width: 15rem;
    }
    .main-aboutus img{
        width: 20rem;
        height: 20rem;
    }
    .image {
        display: flex;
        flex-direction: row-reverse;
    }
    .image img{
        width: 18rem;
        height: 20rem;

    }
    .texto-home img{
        width: 23rem;
    }
    .texto-home p{
        width: 16rem;
    }
}